@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Scrollbar */
*::-webkit-scrollbar-track {
    background-color: #222;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #222;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #fff;
}

/* Reset css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(43deg, #4158D0 0%, #c850c0 46%, #FFCC70 100%);
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: #000;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */

#navbar {
    width: 100%;
    background: #222;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-container h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

#navbar-container a {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.logo {
    width: 48px;
    padding-top: 5px;
}
.logo-main:hover{
    color: #cb57bb;
    transition: 0.6s;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}

#navbar-items li:hover {
    border-bottom: solid 1px;
    color: #cb57bb;
}

/* Sidebar */

#sidebar__container{
    margin-top: 170px;
    position: fixed;
    z-index: 2;
    left: 95%;
}
.sidebar{
    background-color: #222;
    width: 70px;
    height: 400px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.sidebar i{
    color: #eee;
    cursor: pointer;
}
.sidebar i:hover{
    color: #cb57bb;
    transition: 0.2s;
}

/* Showcase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url(../img/showcase.png) no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

/* About */

#features {
    height: 83vh;
    width: 80%;
    padding: 20px 50px 0 50px;
    margin: 20px auto;
    background: #222;
    color: #eee;
    border-radius: 10px;
}

#features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.feature-img {
    padding: 10px;
}

.feature-img i {
    margin-left: 40%;
}


/* Product */

#product {
    width: 80%;
    padding: 0px 50px 0 50px;
    margin: 20px auto 0 auto;
    color: #fff;
}

#product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

#product-container img {
    width: 90vh;
    height: auto;
}

#items {
    width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    font-size: 1.2rem;
}

.item-img {
    padding-right: 30px;
}

#triangulo-para-baixo {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid;
    color: #cb57bb;
    margin: 0 auto 20px auto;
}

/* Testimonials */

.testimonial {
    display: flex;
    align-items: center;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;

}

#testimonials {
    height: 83vh;
    width: 80%;
    padding: 0 50px 0 50px;
    margin: 0 auto 20px auto;
    background: #222;
    color: #eee;
    border-radius: 20px;
}

#testimonials-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial .testimonial-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 15px;
    border: 3px solid #eee;
    object-fit: cover;
}

.testimonial {
    border-radius: 10px;
}

.testimonial p {
    margin: 15px;
}

/* Clients */

#clients {
    width: 100%;
    background: #eee;
    color: #111;
    padding: 20px;
}

#clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.client {
    display: inline-block;
    width: 25%;
}


/* Gallery */

#gallery {
    width: 80%;
    padding: 50px;
    margin: 20px auto 0 auto;
    color: #fff;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
}

.gallery-image {
    display: inline-block;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

/* Footer */

#footer {
    background: #222;
    color: #eee;
    padding: 30px;
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 25px;
}

.redes-button {
    display: flex;
    background: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 1.2rem;
    color: #222
}

.redes a:hover {
    background-color: #acacac;
    transition: 0.3s;
}